@(implicit request: RequestHeader)

@main("Personalities Demo") {

<div data-ng-app="PersonalitiesApp">
    <div class="row" data-ng-controller="PersonalitiesDemoController" data-ng-init='init({wsUrl: "@routes.PersonalitiesController.createCluster.webSocketURL()", clusterPath: "@routes.PersonalitiesController.clusterOutput(":clusterId")"})'>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4" data-ng-repeat="person in persons">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="thumbnail">
                                        <img src='{{thumbnail(person.key, {gandhi: "@routes.Assets.versioned("images/personalities/gandhi.png")", churchill: "@routes.Assets.versioned("images/personalities/churchill.png")", napoleon: "@routes.Assets.versioned("images/personalities/napoleon.png")"})}}' width="150" height="150" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <h4>{{person.name}}</h4>
                                    <br/>
                                    <button class="btn btn-default" disabled="disabled" type="button">
                                        Sources <span class="badge">{{person.sourcesCount}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row" id="viz">
                <div class="col-sm-3 col-sm-offset-4" data-ng-if="heartBeats > 0">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>
                                <span class="text-danger">
                                    <span class="glyphicon glyphicon-heart{{heartBeats % 2 == 0 ? '-empty': ''}}"></span>
                                </span> Working...
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="analysis__clusters" class="col-xs-4 control-label"># Clusters</label>
                            <div class="col-xs-8">
                                <input id="analysis__clusters" class="form-control input-sm" name="analysisClusters"
                                       type="number" min="2" max="5" data-ng-model="clusterCommand.analysisClusters" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="analysis__iterations-max" class="col-xs-4 control-label"># Max Iterations</label>
                            <div class="col-xs-8">
                                <input id="analysis__iterations-max" class="form-control input-sm" name="maxIterations"
                                       type="number" min="1" max="1000" data-ng-model="clusterCommand.maxIterations" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-offset-4 col-sm-8">
                                <button class="btn btn-primary btn-sm" data-ng-click='doAnalysis()'>
                                    Analyze This
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Unique terms
                        </div>
                        <div class="panel-body">
                        </div>
                        <ul id="topTerms--unique" class="list-group">

                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Common terms
                        </div>
                        <div class="panel-body">
                        </div>
                        <ul id="topTerms--common" class="list-group">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <hr/>
        <h2>About</h2>
        <p>
            This demonstrates the effectiveness of TF-IDF in clustering documents. Additionally, a “Node Size” attribute
            is calculated from the unique terms a data node provides to the corpus in addition to the common terms,
            which allows it to be clustered with similar data nodes. <br/>
            This is particularly suitable for businesses such as law firms, healthcare, and banking where relevance
            must be determined from the articles or data sources themselves.
        </p>
        <p>
            Data is curated from a number of sources on three historical personalities:
        </p>
        <ul>
            <li>Napoleon Bonaparte</li>
            <li>Sir Winston Churchill</li>
            <li>Mahatma Gandhi</li>
        </ul>

        <p>
            Each data point is represented by a file with the following format:
        </p>

        <pre>source||||content</pre>

        <ul>
            <li>
                <strong>source:</strong> This is the source URL for the content. For this data set it is the
                relative path to the file, for example data/churchill-file-1.txt.
            </li>
            <li>
                <strong>delimiter:</strong> The <noformat>||||</noformat> is the delimiter.
            </li>
            <li>
                <strong>content:</strong> This is the extracted content from the source. This is just plain text.
            </li>
        </ul>

        <p>
            The perfect clustering algorithm would create 3 clusters and put the data sources for each historical
            figure in its own cluster. Go ahead with the default values or try out other values and analyze the data.
        </p>


    </footer>
</div>
}