@(implicit request: RequestHeader)

@main("BBC News Topic Cluster Demo") {
<div data-ng-app="bbcDemoApp">
    <div class="row" data-ng-controller="BBCDemoController" data-ng-init='init({wsUrl: "@routes.BBCNewsController.createCluster.webSocketURL()", clusterPath: "@routes.BBCNewsController.clusterOutput(":clusterId")"})'>
        <div class="col-md-8">
            <div class="btn-toolbar" role="toolbar" aria-label="input-data-choices">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-category="{{selectedCategory.value}}"
                                data-ng-disabled="heartBeats">
                            {{selectedCategory.title}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-ng-repeat="cat in otherCategories"><a href="{{cat.value}}" data-ng-click="handleCategorySelection($event, cat.value)">{{cat.title}}</a></li>
                        </ul>
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group" role="group" data-ng-repeat="day in days">
                          <button type="button" class="btn {{day.state == 'on' ? 'btn-success' : day.state == 'off' ? 'btn-default' : 'btn-warning'}}"
                            data-ng-click="handleDay($event, day.value)" data-ng-disabled="dayHandlingOn">Day {{day.value}}</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <br/>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-3 alert alert-info alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                      Click any day-button to create a cluster from documents collected thus far.
                    </div>
                  </div>
                </div>
            </div>
            <br/><br/>
            <div class="row" id="viz">
                <div class="col-sm-3 col-sm-offset-4" data-ng-if="heartBeats > 0">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>
                                <span class="text-danger">
                                    <span class="glyphicon glyphicon-heart{{heartBeats % 2 == 0 ? '-empty': ''}}"></span>
                                </span> Working...
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>{{documents.analyzed}}</span> documents analyzed
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Unique terms
                        </div>
                        <div class="panel-body">
                        </div>
                        <ul id="topTerms--unique" class="list-group">

                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Common terms
                        </div>
                        <div class="panel-body">
                        </div>
                        <ul id="topTerms--common" class="list-group">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <hr />
        <h2>About</h2>
        <p>
            This example demonstrates the information discovery process using clustering applied to over 2000
            <strong><a href="http://mlg.ucd.ie/datasets/bbc.html" target="_blank">news
            items from BBC archives</a></strong>.
        </p>
        <p>
            The data set is divided in to 5 sections:
            <ul>
                <li>Technology</li>
                <li>Business</li>
                <li>Sport</li>
                <li>Politics</li>
                <li>Entertainment</li>
            </ul>

            You can change the categories by using the dropdown button &mdash;
            <img src='@routes.Assets.versioned("images/bbc/categories.png")' width="174" height="171" />
        </p>

        <p>
            The data set in each category is divided over a number of days. As you click on any day button, the
            system picks content from that day and all previous days in the data set.<br/>

            For example, if you click on <img src='@routes.Assets.versioned("images/bbc/day_item.png")' width="67" height="38" />,
            that day and all previous days are selected. The documents for all the three days are used to generate
            the cluster. As you progress through each day, the cluster is recreated.
        </p>

    </footer>
</div>
}
